// Animation Definition
@keyframes iz-animation-pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

// Animation Definition
@keyframes iz-animation-wavering-shadow {
    0% {
        filter: drop-shadow(-5px -4px 6px gold);
        background: darkslategrey;
        opacity: 1;
        transform: scale(1);
    }

    20% {
        filter: drop-shadow(-1px -9px 12px rgb(255, 180, 18));
        background: #278181;
        opacity: 0.9;
        transform: scale(1.1);
    }

    40% {
        filter: drop-shadow(2px -6px 9px rgb(231, 72, 9));
        background: #0c3f3f;
        opacity: 0.85;
        transform: scale(0.95);
    }

    60% {
        filter: drop-shadow(4px -2px 4px rgb(238, 100, 21));
        background: #117c61;
        opacity: 0.95;
        transform: scale(1.05);
    }

    80% {
        filter: drop-shadow(0px -5px 5px rgb(255, 0, 13));
        background: #104a64;
        opacity: 0.75;
        transform: scale(0.9);
    }

    100% {
        filter: drop-shadow(-5px -4px 6px gold);
        background: darkslategrey;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes iz-animation-boing {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-8px);
    }
}

/*
* Animation module with all animation code
*/
.iz-animation-text-flow,
.iz-animation-text-flow:hover {
    /*
    * Animation variables
    */
    $animationSteps: 20;
    $animationDuration: 50;
    $animationElement: span;
    $animationElementsCount: 100;
    $delayBetweenLetters: 0.2;
    /*
    * Elements settings
    */
    #{$animationElement} {
        animation-name: iz-animation-text-flow-keys;
        animation-duration: #{$animationDuration}s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        transition: all 0.2s ease;
        text-shadow: 2px 2px 0.5px white !important;
        -webkit-text-stroke: 1.25px black;
        text-stroke: 1.25px black;
        font-weight: 550 !important;

        &:hover {
            text-shadow: 3px 3px 1px gold !important;
            transition: all 0.2s ease;
            -webkit-text-stroke: 1px white;
            text-stroke: 1px white;
        }

        span {
        }
    }
    /*
  * Keyframe loop
  */
    @keyframes iz-animation-text-flow-keys {
        @for $i from 0 through $animationSteps {
            #{percentage($i * calc(1 / $animationSteps))} {
                color: hsla(random(365), 60%, 60%, 1);
                transition: $default-transition-fast;
                //text-shadow: 1px 1px 3px hsla(random(365), 60%, 60%, 1);
            }
        }
    }

    /*
   * Element animation delay loop
   */
    $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

    @for $i from 1 through $animationElementsCount {
        #{$animationElement}:nth-of-type(#{$i}) {
            animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
        }
    }
}

/*
* Animation module with all animation code
*/
img.iz-animation-img-flow,
img.iz-animation-img-flow:hover {
    /*
  * Animation variables
  */
    $animationStepsImage: 36;
    $animationDurationImage: 50;
    $animationElementsCountImage: 1;

    /*
    * Elements settings
    */
    animation-name: iz-animation-img-flow-keys;
    animation-duration: #{$animationDurationImage}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;

    /*
    * Keyframe loop
    */
    $sum-hsla: 0;
    @keyframes iz-animation-img-flow-keys {
        @for $i from 0 through $animationStepsImage {
            #{percentage($i * calc(1 / $animationStepsImage))} {
                fill: hsla($sum-hsla, 60%, 60%, 1);
                fill: -webkit-linear-gradient(
                    to right,
                    hsla($sum-hsla, 60%, 60%, 1),
                    hsla($sum-hsla + 10, 60%, 60%, 1)
                );
                fill: linear-gradient(to right, hsla($sum-hsla, 60%, 60%, 1), hsla($sum-hsla + 10, 60%, 60%, 1));
            }
            $sum-hsla: $sum-hsla + 10;
        }
    }

    /*
    * Element animation delay loop
    */
    $totalDelayTimeImage: $animationElementsCountImage;

    animation-delay: #{$totalDelayTimeImage}s;
}
