// Site Main Content Section
main#iz-content {
    display: flex;
    flex-direction: column;

    header.iz-content-banner {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - $nav-height-total);

        section.iz-banner-wrapper {
            display: flex;
            flex-direction: column;
            margin: auto auto 50px auto;
            padding: 4em;
            max-width: 45%;
            border-radius: 13px;
            box-shadow: 0px -5px 12px #ffd70077;

            img.iz-banner-image {
                display: flex;
                margin: auto auto 15px auto;
                width: 75px;
                max-width: 75px;
                height: auto;
                border-radius: 150px;
                background: darkslategray;
                padding: 3em;
                filter: drop-shadow(0px -3px 4px gold);

                &:hover {
                    animation-duration: 5s;
                    animation-name: iz-animation-wavering-shadow;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                &.iz-banner-headline {
                    transition: all 0.2s ease-out;
                    margin: 15px auto;
                    -webkit-text-stroke: 0.25px deepskyblue;
                    text-stroke: 0.25px deepskyblue;
                }
            }

            p.iz-banner-content {
                margin: 15px auto;
            }
        }
    }

    section.iz-content-entry {
        display: flex;
        flex-direction: column;
        $entry-height: calc(100vh - 77px);
        height: $entry-height;
        min-height: $entry-height;
        box-shadow: 0px 0px 10px 9px rgb(0 0 0 / 50%);
        transition: $default-transition-fast;

        & > * {
            max-width: $content-entry-max-width;
            margin: auto;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            background-color: transparent;
        }

        .iz-animation-active .iz-content-headline {

            padding: 12px 35px;
            border-radius: 12px;
            background-color: #00000077;
            box-shadow: 3px 1px 6px #e4e4e4aa;

            > span.iz-text {
                text-transform: uppercase;
                text-rendering: geometricPrecision;
                letter-spacing: 0.25em;
                font-size: 2em;
                line-height: 2;
                font-weight: 500;
                white-space: nowrap;
            }
        }

        &#pfs-unsere-agenturleistungen {
            video#pfs-unsere-agenturleistungen-background {
                //background: url("/media/02_Planetpagebackground_v01_1.mp4");
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        & > *:first-child {
            display: flex;
            margin-top: auto;
        }

        & > *:last-child {
            display: flex;
            margin-bottom: auto;
        }

        button.iz-button-href {
            text-decoration: none;
            border-radius: 50px;
            background: transparent;
            background-image: #{map.get($button-gradients, "main-content")};
            transition: #{map.get($button-transitions, "main-content")};
            color: white;
            border: none;
            padding: 10px 2em;
            font-weight: 700;
            display: flex;
            margin: auto;
            font-family: "Shippori Antique B1", Sans-serif;

            &:hover {
                background-image: #{map.get($button-gradients, "main-content-hover")};
                transition: #{map.get($button-transitions, "main-content-hover")};
                color: black;
            }

            &::before {
                margin-right: 1em;
                content: ">";
            }
        }

        .iz-card-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 50px;

            .iz-card {
                display: flex;
                flex-direction: column;

                figure {
                    display: flex;
                    margin: 0 auto;

                    img.iz-card-image {
                        display: flex;
                        min-width: $card-image-width;
                        max-width: $card-image-width;
                        width: $card-image-width;
                        filter: $card-image-filter;
                        transition: $card-image-transition;
                        transform: translateY(0px);

                        &:hover {
                            animation-duration: 0.5s;
                            animation-name: iz-animation-boing;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                        }
                    }
                }
                .iz-card-text {
                    display: flex;
                    flex-direction: column;

                    * {
                        display: flex;
                    }
                }
            }
        }

        .iz-square-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 50px;

            .iz-square {
                display: flex;
                flex-direction: column;

                .iz-square-top {
                    figure {
                        display: flex;
                        margin: 0 auto;

                        img.iz-square-image {
                            display: flex;
                            min-width: $card-image-width;
                            max-width: $card-image-width;
                            width: $card-image-width;
                            filter: $card-image-filter;
                            transition: $card-image-transition;
                            transform: translateY(0px);

                            &:hover {
                                animation-duration: 0.5s;
                                animation-name: iz-animation-boing;
                                animation-iteration-count: infinite;
                                animation-direction: alternate;
                            }
                        }
                    }
                    .iz-square-text {
                        display: flex;
                        flex-direction: column;

                        * {
                            display: flex;
                        }

                        .iz-square-headline {
                        }

                        .iz-square-content {
                        }
                    }
                }

                .iz-square-bottom {
                    .iz-square-button {
                        svg {
                        }
                    }
                }
            }
        }
    }
}
