div.iz-text-multi {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;

    p.iz-text-simple-content {
        margin-bottom: 15px;
    }
}

div.iz-text-entry {
    display: flex;
    flex-direction: column;
}
