
html {
    background-color: #040404;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    shape-rendering: crispedges;
    text-rendering: geometricPrecision;
    scroll-behavior: smooth;
}

// Body of HTML
body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: $base-font-family;
    font-weight: 500;
    font-size: 15px;

    * {
        box-sizing: content-box;
        scroll-behavior: smooth;
    }

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;

    // Main Wrapper
    #iz-wrapper {
        display: flex;
        width: inherit;
        overflow: auto;
        flex-direction: column;
        margin-top: $nav-height-total;
        margin-bottom: 0;
        overflow-x: hidden;
        transition: all 0.5s ease;

        &.bottom-reached {
            transition: all 0.5s ease;
            margin-bottom: 125px;
        }
        h1,
        h2 {

            &.iz-animation-active {
                font-weight: 500;
                shape-rendering: crispedges;
                text-rendering: geometricPrecision;
                -webkit-user-select: none;
                user-select: none;

                &:hover {
                    cursor: url("/img/svg/meteor-comet-svgrepo-com.svg");
                }
            }
        }
    }

    @include gradient-classes("mirage" "mirage-transparent" "black2transparent" "sand2blue" "coal");
}
