//- Square Element
.iz-square
    section.iz-square-top
        figure
            img.iz-square-image(src=square.image)
        .iz-square-text
            h4.iz-square-headline= square.headline
            p.iz-square-content= square.content
    section.iz-square-bottom
        a.iz-square-button
            i.fas.fa-share
            | Mehr erfahren
