footer#iz-footer
    img#iz-footer-logo(src="https://www.impact-z.one/wp-content/uploads/2022/05/2022-05-IZ-Logo-Gold-01_svg.svg")
    #iz-footer-company
        p#iz-footer-company-headline impactzone – Goldgrundring 9, 64354 Reinheim
        p#iz-footer-company-content © 2022 impactzone – Alle Rechte vorbehalten.
        #iz-footer-company-button-row
            a#iz-footer-company-button-tel(href="tel:+4961629692290")
                i.fas.fa-phone-volume
                | 06162 969 22 90
            a#iz-footer-company-button-mail(href="mailto:kontakt@impact-z.one")
                i.fas.fa-envelope
                | kontakt@impact-z.one
    #iz-footer-links-external
        a(target="_blank" class="iz-animation-pulse" id="iz-footer-link-facebook" title="impactzone Facebook-Seite" href="https://www.facebook.com/julian.schwindt.12")
            i.fab.fa-facebook
        a(target="_blank" class="iz-animation-pulse" id="iz-footer-link-instagram" title="impactzone Instagram-Seite" href="https://www.instagram.com/_impactzone")
            i.fab.fa-instagram
        a(target="_blank" class="iz-animation-pulse" id="iz-footer-link-youtube" title="impactzone YouTube-Seite" href="https://www.youtube.com/c/impactzone")
            i.fab.fa-youtube