@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Shippori+Antique+B1&display=swap");
html {
  background-color: #040404;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Assistant", Sans-serif;
  font-weight: 400;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  @import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Shippori+Antique+B1&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Shippori+Antique+B1&display=swap");
}
body * {
  box-sizing: content-box;
}
body #iz-wrapper {
  display: flex;
  width: inherit;
  overflow: auto;
  flex-direction: column;
  margin-top: 78px;
  @import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Shippori+Antique+B1&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Shippori+Antique+B1&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Shippori+Antique+B1&display=swap");
}
body #iz-wrapper h1,
body #iz-wrapper h2,
body #iz-wrapper h3,
body #iz-wrapper h4,
body #iz-wrapper h5 {
  font-weight: 800;
}
body #iz-wrapper #iz-nav-list {
  display: flex;
  position: fixed;
  height: 77px;
  max-height: 77px;
  min-height: 77px;
  top: 0;
  width: inherit;
  background-color: #040404;
  z-index: 999;
  border-bottom: 1px solid rgba(225, 225, 225, 0.5098039216);
}
body #iz-wrapper #iz-nav-list * {
  text-align: center;
}
body #iz-wrapper #iz-nav-list #iz-nav-logo {
  display: flex;
  margin-left: auto;
  height: 60px;
  width: 60px;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul {
  display: flex;
  transform: translateY(-50px);
  transition: all 1s ease;
  opacity: 0;
  visibility: hidden;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul.iz-nav-fade-in {
  transform: translateY(0px);
  transition: all 1s ease;
  opacity: 1;
  visibility: visible;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry {
  display: flex;
  opacity: 1;
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  transition: all 0.5s ease;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry:last-child a {
  background-color: #818a91;
  color: #d2d2d2;
  border-radius: 3px;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry:last-child:hover a {
  text-decoration: none;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry.iz-nav-item-selected a {
  color: white;
  text-shadow: -1px 2px 5px #f1dda0;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry.nav-entry-sublist > a::after {
  display: inline-block;
  transform: rotate(90deg);
  padding-left: 8px;
  content: ">";
  font-weight: 500;
  line-height: 0px;
  font-size: medium;
  width: 15px;
  transition: all 0.5s ease;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry.nav-entry-sublist:hover > a::after {
  transform: rotate(0deg);
  font-weight: 900;
  font-size: large;
  transition: all 0.5s ease;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry > a {
  color: #7a7c7f;
  transition: all 0.5s ease;
  padding: 8px 12px;
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry:hover > a {
  transition: all 0.5s ease;
  color: #f1dda0;
  text-decoration: underline;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry ul.iz-subnav-ul {
  padding: 0;
  margin: 0;
  background-color: #fff;
  transition: all 1s ease;
  color: #d2d2d2;
  box-shadow: unset;
  opacity: 0;
  display: flex;
  flex-direction: column;
  top: 60px;
  position: absolute;
  visibility: hidden;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry ul.iz-subnav-ul li.nav-sub-entry {
  display: flex;
  transition: all 1s ease;
  opacity: 1;
  list-style: none;
  height: 45px;
  box-sizing: content-box;
  border: none;
  min-width: 400px;
  font-size: 10px;
  font-weight: 700;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid transparent;
  align-items: center;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry ul.iz-subnav-ul li.nav-sub-entry:not(:last-child) {
  border-bottom: 1px solid black;
  border-left: none;
  border-top: none;
  border-right: none;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry ul.iz-subnav-ul li.nav-sub-entry a {
  color: #d2d2d2;
  transition: all 1s ease;
  text-decoration: none;
  margin: 0;
  border: none;
  text-transform: uppercase;
  text-shadow: none;
  width: 100%;
  line-height: 0px;
  font-size: 10px;
  text-align: left;
  display: flex;
  height: 45px;
  padding-left: 32px;
  align-items: center;
  justify-content: left;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry ul.iz-subnav-ul li.nav-sub-entry a:hover {
  transition: all 1s ease;
  color: #f1dda0;
  font-size: 15px;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry ul.iz-subnav-ul li.nav-sub-entry:hover {
  transition: all 1s ease;
  font-size: 15px;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry ul.iz-subnav-ul li.nav-sub-entry:hover a {
  transition: all 1s ease;
  text-shadow: 2px 2px 4px black;
  font-size: 15px;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry-sublist * {
  text-align: left;
}
body #iz-wrapper #iz-nav-list #iz-nav-ul .nav-entry-sublist:hover ul.iz-subnav-ul {
  transition: all 1s ease;
  opacity: 1;
  visibility: visible;
}
body #iz-wrapper #iz-nav-list form.iz-search-form {
  display: flex;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
  width: 125px;
}
body #iz-wrapper #iz-nav-list form.iz-search-form input#search-value {
  outline: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: flex;
  background-color: transparent;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  text-align: left;
  padding-left: 8px;
  transition: all 0.5s ease;
}
body #iz-wrapper #iz-nav-list form.iz-search-form input#search-value + svg {
  transition: all 0.5s ease;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -25px;
  color: white;
}
body #iz-wrapper #iz-nav-list form.iz-search-form input#search-value:focus {
  background-color: white;
  transition: all 0.5s ease;
  border-radius: 5px;
  border: 1px solid #040404;
}
body #iz-wrapper #iz-nav-list form.iz-search-form input#search-value:focus + svg {
  transition: all 0.5s ease;
  color: black;
}
body #iz-wrapper main#iz-content {
  display: flex;
  flex-direction: column;
}
body #iz-wrapper main#iz-content header.iz-content-banner {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 78px);
}
body #iz-wrapper main#iz-content header.iz-content-banner section.iz-banner-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto auto 50px auto;
  padding: 33px;
  max-width: 45%;
}
body #iz-wrapper main#iz-content header.iz-content-banner section.iz-banner-wrapper img.iz-banner-image {
  display: flex;
  margin: auto auto 15px auto;
  width: 75px;
  max-width: 75px;
  height: auto;
}
body #iz-wrapper main#iz-content header.iz-content-banner section.iz-banner-wrapper h1.iz-banner-headline,
body #iz-wrapper main#iz-content header.iz-content-banner section.iz-banner-wrapper h2.iz-banner-headline,
body #iz-wrapper main#iz-content header.iz-content-banner section.iz-banner-wrapper h3.iz-banner-headline,
body #iz-wrapper main#iz-content header.iz-content-banner section.iz-banner-wrapper h4.iz-banner-headline,
body #iz-wrapper main#iz-content header.iz-content-banner section.iz-banner-wrapper h5.iz-banner-headline,
body #iz-wrapper main#iz-content header.iz-content-banner section.iz-banner-wrapper h6.iz-banner-headline {
  margin: 15px auto;
}
body #iz-wrapper main#iz-content header.iz-content-banner section.iz-banner-wrapper p.iz-banner-content {
  margin: 15px auto;
}
body #iz-wrapper main#iz-content section.iz-content-entry {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 77px);
  min-height: calc(100vh - 77px);
  box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
body #iz-wrapper main#iz-content section.iz-content-entry > * {
  max-width: 1200px;
  margin: auto;
}
body #iz-wrapper main#iz-content section.iz-content-entry h1,
body #iz-wrapper main#iz-content section.iz-content-entry h2,
body #iz-wrapper main#iz-content section.iz-content-entry h3,
body #iz-wrapper main#iz-content section.iz-content-entry h4,
body #iz-wrapper main#iz-content section.iz-content-entry h5,
body #iz-wrapper main#iz-content section.iz-content-entry h6,
body #iz-wrapper main#iz-content section.iz-content-entry p {
  background-color: transparent;
}
body #iz-wrapper main#iz-content section.iz-content-entry#pfs-unsere-agenturleistungen video#pfs-unsere-agenturleistungen-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #iz-wrapper main#iz-content section.iz-content-entry > *:first-child {
  display: flex;
  margin-top: auto;
}
body #iz-wrapper main#iz-content section.iz-content-entry > *:last-child {
  display: flex;
  margin-bottom: auto;
}
body #iz-wrapper main#iz-content section.iz-content-entry button.iz-button-href {
  text-decoration: none;
  border-radius: 50px;
  background: transparent;
  background-image: linear-gradient(290deg, #dfc393 0%, #f1dda0 100%);
  transition: all 0.3s ease;
  color: white;
  border: none;
  padding: 10px 2em;
  font-weight: 700;
  display: flex;
  margin: auto;
  font-family: "Shippori Antique B1", Sans-serif;
}
body #iz-wrapper main#iz-content section.iz-content-entry button.iz-button-href:hover {
  background-image: linear-gradient(90deg, #f1dda0 0%, #dfc393 100%);
  transition: all 0.3s ease;
  color: black;
}
body #iz-wrapper main#iz-content section.iz-content-entry button.iz-button-href::before {
  margin-right: 1em;
  content: ">";
}
body #iz-wrapper main#iz-content section.iz-content-entry .iz-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}
body #iz-wrapper main#iz-content section.iz-content-entry .iz-card-list .iz-card {
  display: flex;
  flex-direction: column;
}
body #iz-wrapper main#iz-content section.iz-content-entry .iz-card-list .iz-card figure {
  display: flex;
  margin: 0 auto;
}
body #iz-wrapper main#iz-content section.iz-content-entry .iz-card-list .iz-card figure img.iz-card-image {
  display: flex;
  min-width: 66px;
  max-width: 66px;
  width: 66px;
  filter: brightness(200%) contrast(134%) saturate(0%) blur(0px) hue-rotate(0deg);
  transition: all 0.5s ease;
  transform: translateY(0px);
}
body #iz-wrapper main#iz-content section.iz-content-entry .iz-card-list .iz-card figure img.iz-card-image:hover {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: iz-animation-boing;
          animation-name: iz-animation-boing;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
body #iz-wrapper main#iz-content section.iz-content-entry .iz-card-list .iz-card .iz-card-text {
  display: flex;
  flex-direction: column;
}
body #iz-wrapper main#iz-content section.iz-content-entry .iz-card-list .iz-card .iz-card-text * {
  display: flex;
}
body #iz-wrapper footer#iz-footer {
  display: flex;
  background-color: transparent;
  background-image: linear-gradient(130deg, #040404 0%, #1d1d1d 100%);
  padding-bottom: 10px;
  padding-top: 5px;
}
body #iz-wrapper footer#iz-footer img#iz-footer-logo {
  display: flex;
  margin: auto 2em auto auto;
  width: 75px;
  height: auto;
}
body #iz-wrapper footer#iz-footer #iz-footer-company {
  display: flex;
  flex-direction: column;
  margin: auto 1em;
  padding: 5px;
  min-width: 333px;
}
body #iz-wrapper footer#iz-footer #iz-footer-company #iz-footer-company-headline {
  display: flex;
  width: inherit;
}
body #iz-wrapper footer#iz-footer #iz-footer-company #iz-footer-company-content {
  display: flex;
  width: inherit;
}
body #iz-wrapper footer#iz-footer #iz-footer-company #iz-footer-company-button-row {
  display: flex;
  gap: 0.5em;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  text-align: center;
  vertical-align: middle;
}
body #iz-wrapper footer#iz-footer #iz-footer-company #iz-footer-company-button-row a {
  text-decoration: none;
  display: flex;
  border-radius: 50px;
  font-size: 12px;
  line-height: 15px;
  padding: 8px 12px;
  background-color: transparent;
  background-image: linear-gradient(130deg, #f4dc8c 0%, #cab272 100%);
  transition: all 0.2s ease;
  transform: scale(1);
  color: white;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  text-align: center;
  vertical-align: middle;
}
body #iz-wrapper footer#iz-footer #iz-footer-company #iz-footer-company-button-row a:hover {
  background-image: linear-gradient(180deg, #cab272 0%, #f4dc8c 100%);
  transition: all 0.2s ease;
  transform: scale(0.9);
  color: black;
}
body #iz-wrapper footer#iz-footer #iz-footer-company #iz-footer-company-button-row a#iz-footer-company-button-tel {
  margin-left: auto;
}
body #iz-wrapper footer#iz-footer #iz-footer-company #iz-footer-company-button-row a#iz-footer-company-button-mail {
  margin-right: auto;
}
body #iz-wrapper footer#iz-footer #iz-footer-company #iz-footer-company-button-row a svg {
  display: flex;
  margin: auto 0.5em auto auto;
  width: 15px;
  max-width: 15px;
  min-width: 15px;
  height: auto;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external {
  display: flex;
  margin: auto auto auto 2em;
  gap: 5px;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external a.iz-animation-pulse {
  transition: all 0.2s ease;
  transform: scale(1);
  display: flex;
  padding: 5px;
  border-radius: 100%;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external a.iz-animation-pulse:hover {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: iz-animation-pulse;
          animation-name: iz-animation-pulse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external a#iz-footer-link-facebook {
  background-color: #3b5998;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external a#iz-footer-link-facebook svg {
  display: flex;
  margin: auto;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external a#iz-footer-link-facebook svg > path {
  fill: white;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external a#iz-footer-link-instagram {
  background-color: #262626;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external a#iz-footer-link-instagram svg {
  display: flex;
  margin: auto;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external a#iz-footer-link-instagram svg > path {
  fill: white;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external a#iz-footer-link-youtube {
  background-color: #cd201f;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external a#iz-footer-link-youtube svg {
  display: flex;
  margin: auto;
}
body #iz-wrapper footer#iz-footer div#iz-footer-links-external a#iz-footer-link-youtube svg > path {
  fill: white;
}
body .iz-parallax-image {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}
body .iz-parallax-image h1,
body .iz-parallax-image h2,
body .iz-parallax-image h3,
body .iz-parallax-image h4,
body .iz-parallax-image h5,
body .iz-parallax-image h6 {
  font-weight: 700;
  font-size: 76px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
body .iz-parallax-content {
  background: none repeat scroll 0 0 black;
  color: #fff;
}
body .iz-parallax-content.iz-parallax-content-transparent {
  background: transparent;
}
body .iz-parallax-content h1,
body .iz-parallax-content h2,
body .iz-parallax-content h3,
body .iz-parallax-content h4,
body .iz-parallax-content h5,
body .iz-parallax-content h6 {
  color: #fff;
}
body .iz-parallax-content-after {
  height: 200px;
  min-height: 200px;
  background: black;
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
body .iz-parallax-video {
  height: 0px;
  padding: 0;
  margin: 0;
  display: none;
  transition: all 0.5s ease;
}
body .iz-parallax-video.iz-banner-video {
  height: 0px;
  padding: 0;
  margin: 0;
  display: unset;
  transition: all 0.5s ease;
}
body .iz-parallax-video.iz-banner-video video {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  position: fixed;
  top: 78px;
  z-index: -999;
  transition: all 0.5s ease;
}
body .iz-parallax-video.iz-parallax-video-visible {
  display: unset;
  transition: all 0.5s ease;
}
body .iz-parallax-video.iz-parallax-video-z-top video {
  z-index: -899;
  transition: all 0.5s ease;
}
body .iz-parallax-video video {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  position: fixed;
  top: 78px;
  z-index: -999;
  transition: all 0.5s ease;
}
body .iz-parallax-video h1,
body .iz-parallax-video h2,
body .iz-parallax-video h3,
body .iz-parallax-video h4,
body .iz-parallax-video h5,
body .iz-parallax-video h6 {
  color: #fff;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
@-webkit-keyframes iz-animation-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes iz-animation-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@-webkit-keyframes iz-animation-boing {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-8px);
  }
}
@keyframes iz-animation-boing {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-8px);
  }
}/*# sourceMappingURL=iz-style.css.map */