// Variables
@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Shippori+Antique+B1&display=swap");

$scroll-bar-width: 25px;
$nav-height: 77px;
$content-entry-max-width: 1200px;
$color-link-facebook: #3b5998;
$background-color-links: (
    "facebook": #3b5998,
    "instagram": #262626,
    "youtube": #cd201f,
);

$bg-gradients: (
    "footer": linear-gradient(130deg, #040404 0%, #1d1d1d 100%),
);

$button-gradients: (
    "footer": linear-gradient(130deg, #f4dc8c 0%, #cab272 100%),
    "footer-hover": linear-gradient(180deg, #cab272 0%, #f4dc8c 100%),
    "main-content": linear-gradient(290deg, #dfc393 0%, #f1dda0 100%),
    "main-content-hover": linear-gradient(90deg, #f1dda0 0%, #dfc393 100%),
);

$button-transitions: (
    "footer": all 0.2s ease,
    "footer-hover": all 0.2s ease,
    "main-content": all 0.3s ease,
    "main-content-hover": all 0.3s ease,
);

$fill-color-links: #fff;
$footer-button-row-icon-width: 15px;

$card-image-width: 66px;
$card-image-filter: brightness(200%) contrast(134%) saturate(0%) blur(0px) hue-rotate(0deg);
$card-image-transition: all 0.5s ease;

$base-font-family: "Assistant", Sans-serif;

$background-color-navigation: #040404;

$default-transition-fast: all 0.5s ease;
$default-transition-medium: all 0.75s ease;
$default-transition-slow: all 1s ease;

$navigation-text: (
    "color": #7a7c7f,
    "hover": #f1dda0,
    "transition": $default-transition-fast,
);

$navigation-sublist: (
    "background-color": #fff,
    "color": #d2d2d2,
    "hover": #f1dda0,
    "transition": $default-transition-slow,
);

html {
    background-color: #040404;
}

// Body of HTML
body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: $base-font-family;
    font-weight: 400;
    font-size: 15px;

    * {
        box-sizing: content-box;
    }

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;

    // Main Wrapper
    #iz-wrapper {
        display: flex;
        width: inherit;
        overflow: auto;
        flex-direction: column;
        margin-top: $nav-height;

        h1,
        h2,
        h3,
        h4,
        h5 {
            font-weight: 800;
        }

        // Banner
        #iz-nav-list {
            display: flex;
            position: fixed;
            height: $nav-height;
            max-height: $nav-height;
            min-height: $nav-height;
            top: 0;
            width: inherit;
            background-color: $background-color-navigation;
            z-index: 999;

            * {
                text-align: center;
            }

            // Header Logo
            #iz-nav-logo {
                display: flex;
                margin-left: auto;
                height: 60px;
                width: 60px;
            }
            // Navigation Entries
            #iz-nav-ul {
                display: flex;
                // Navigation Entry
                .nav-entry {
                    display: flex;
                    opacity: 1;
                    list-style: none;
                    margin-top: auto;
                    margin-bottom: auto;
                    max-width: min-content;
                    font-size: 16px;
                    font-weight: 400;
                    white-space: nowrap;
                    transition: map-get($navigation-text, "transition");

                    &.iz-nav-item-selected {
                        a {
                            color: white;
                            text-shadow: -1px 2px 5px map-get($navigation-text, "hover");
                        }
                    }

                    &.nav-entry-sublist {
                        > a::after {
                            display: inline-block;
                            transform: rotate(90deg);
                            padding-left: 8px;
                            content: ">";
                            font-weight: 500;
                            line-height: 0px;
                            font-size: medium;
                            width: 15px;
                            transition: map-get($navigation-text, "transition");
                        }
                        &:hover {
                            > a::after {
                                transform: rotate(0deg);
                                font-weight: 900;
                                font-size: large;
                                transition: map-get($navigation-text, "transition");
                            }
                        }
                    }

                    > a {
                        color: map-get($navigation-text, "color");
                        transition: map-get($navigation-text, "transition");
                        padding: 8px 12px;
                        font-size: 10px;
                        font-weight: 700;
                        text-decoration: none;
                        text-transform: uppercase;
                    }

                    &:hover > a {
                        transition: map-get($navigation-text, "transition");
                        color: map-get($navigation-text, "hover");
                        text-decoration: underline;
                    }

                    // Navigation Sublist
                    ul.iz-subnav-ul {
                        padding: 0;
                        margin: 0;
                        background-color: map-get($navigation-sublist, "background-color");
                        transition: map-get($navigation-sublist, "transition");
                        color: map-get($navigation-sublist, "color");

                        box-shadow: unset;

                        opacity: 0;
                        display: flex;
                        flex-direction: column;
                        top: 60px;
                        position: absolute;
                        visibility: hidden;

                        // Navigation Sublist Entry
                        li.nav-sub-entry {
                            display: flex;
                            transition: map-get($navigation-sublist, "transition");
                            opacity: 1;
                            list-style: none;
                            height: 45px;
                            box-sizing: content-box;
                            border: none;
                            min-width: 400px;
                            font-size: 10px;
                            font-weight: 700;
                            border-left: none;
                            border-top: none;
                            border-right: none;
                            border-bottom: 1px solid transparent;
                            align-items: center;

                            &:not(:last-child) {
                                border-bottom: 1px solid black;
                                border-left: none;
                                border-top: none;
                                border-right: none;
                            }

                            a {
                                color: map-get($navigation-sublist, "color");
                                transition: map-get($navigation-sublist, "transition");
                                text-decoration: none;
                                margin: 0;
                                border: none;
                                text-transform: uppercase;
                                text-shadow: none;
                                width: 100%;
                                line-height: 0px;
                                font-size: 10px;
                                text-align: left;
                                display: flex;
                                height: 45px;
                                padding-left: 32px;
                                align-items: center;
                                justify-content: left;

                                &:hover {
                                    transition: map-get($navigation-sublist, "transition");
                                    color: map-get($navigation-sublist, "hover");
                                    font-size: 15px;
                                }
                            }

                            &:hover {
                                transition: map-get($navigation-sublist, "transition");
                                font-size: 15px;

                                a {
                                    transition: map-get($navigation-sublist, "transition");
                                    text-shadow: 2px 2px 4px black;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
                // Hover of entry with sublist
                .nav-entry-sublist {
                    * {
                        text-align: left;
                    }

                    &:hover {
                        ul.iz-subnav-ul {
                            transition: map-get($navigation-sublist, "transition");
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            // Search Field
            form.iz-search-form {
                display: flex;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 25px;
                width: 125px;

                input#search-value {
                    outline: none;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: auto;
                    display: flex;
                    background-color: transparent;
                    width: 100px;
                    height: 30px;
                    border-radius: 10px;
                    border: none;
                    text-align: left;
                    padding-left: 8px;
                    transition: $default-transition-fast;

                    + svg {
                        transition: $default-transition-fast;
                        display: flex;
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-left: -25px;
                        color: white;
                    }

                    &:focus {
                        background-color: white;
                        transition: $default-transition-fast;
                        border-radius: 5px;
                        border: 1px solid $background-color-navigation;

                        + svg {
                            transition: $default-transition-fast;
                            color: black;
                        }
                    }
                }
            }
        }
        // Site Main Content Section
        main#iz-content {
            display: flex;
            flex-direction: column;

            header.iz-content-banner {
                display: flex;
                flex-direction: column;
                min-height: calc(100vh - $nav-height);

                section.iz-banner-wrapper {
                    display: flex;
                    flex-direction: column;
                    margin: auto auto 50px auto;
                    padding: 33px;
                    max-width: 45%;

                    img.iz-banner-image {
                        display: flex;
                        margin: auto auto 15px auto;
                        width: 75px;
                        max-width: 75px;
                        height: auto;
                    }

                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        &.iz-banner-headline {
                            margin: 15px auto;
                        }
                    }

                    p.iz-banner-content {
                        margin: 15px auto;
                    }
                }
            }

            section.iz-content-entry {
                display: flex;
                flex-direction: column;
                $entry-height: calc(100vh - 77px);
                height: $entry-height;
                min-height: $entry-height;
                box-shadow: 0px 0px 10px 9px rgb(0 0 0 / 50%);
                transition: $default-transition-fast;

                & > * {
                    max-width: $content-entry-max-width;
                    margin: auto;
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p {
                    background-color: transparent;
                }

                &#pfs-unsere-agenturleistungen {
                    video#pfs-unsere-agenturleistungen-background {
                        //background: url("/media/02_Planetpagebackground_v01_1.mp4");
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                & > *:first-child {
                    display: flex;
                    margin-top: auto;
                }

                & > *:last-child {
                    display: flex;
                    margin-bottom: auto;
                }

                button.iz-button-href {
                    text-decoration: none;
                    border-radius: 50px;
                    background: transparent;
                    background-image: #{map.get($button-gradients, "main-content")};
                    transition: #{map.get($button-transitions, "main-content")};
                    color: white;
                    border: none;
                    padding: 10px 2em;
                    font-weight: 700;
                    display: flex;
                    margin: auto;
                    font-family: "Shippori Antique B1", Sans-serif;

                    &:hover {
                        background-image: #{map.get($button-gradients, "main-content-hover")};
                        transition: #{map.get($button-transitions, "main-content-hover")};
                        color: black;
                    }

                    &::before {
                        margin-right: 1em;
                        content: ">";
                    }
                }

                .iz-card-list {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 50px;

                    .iz-card {
                        display: flex;
                        flex-direction: column;

                        figure {
                            display: flex;
                            margin: 0 auto;

                            img.iz-card-image {
                                display: flex;
                                min-width: $card-image-width;
                                max-width: $card-image-width;
                                width: $card-image-width;
                                filter: $card-image-filter;
                                transition: $card-image-transition;
                                transform: translateY(0px);

                                &:hover {
                                    animation-duration: 0.5s;
                                    animation-name: iz-animation-boing;
                                    animation-iteration-count: infinite;
                                    animation-direction: alternate;
                                }
                            }
                        }
                        .iz-card-text {
                            display: flex;
                            flex-direction: column;

                            * {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
        // Footer Section
        footer#iz-footer {
            display: flex;
            background-color: transparent;
            background-image: linear-gradient(130deg, #040404 0%, #1d1d1d 100%);
            padding-bottom: 10px;
            padding-top: 5px;
            // Logo of the footer
            img#iz-footer-logo {
                display: flex;
                margin: auto 2em auto auto;
                width: 75px;
                height: auto;
            }
            // Company Information
            #iz-footer-company {
                display: flex;
                flex-direction: column;
                margin: auto 1em;
                padding: 5px;
                min-width: 333px;

                #iz-footer-company-headline {
                    display: flex;
                    width: inherit;
                }
                #iz-footer-company-content {
                    display: flex;
                    width: inherit;
                }
                #iz-footer-company-button-row {
                    display: flex;
                    gap: 0.5em;
                    align-content: center;
                    align-items: center;
                    align-self: center;

                    justify-content: center;
                    justify-items: center;
                    justify-self: center;

                    text-align: center;
                    vertical-align: middle;
                    a {
                        text-decoration: none;
                        display: flex;
                        border-radius: 50px;
                        font-size: 12px;
                        line-height: 15px;
                        padding: 8px 12px;
                        background-color: transparent;
                        background-image: #{map.get($button-gradients, "footer")};
                        transition: #{map.get($button-transitions, "footer")};
                        transform: scale(1);
                        color: white;

                        align-content: center;
                        align-items: center;
                        align-self: center;

                        justify-content: center;
                        justify-items: center;
                        justify-self: center;

                        text-align: center;
                        vertical-align: middle;

                        &:hover {
                            background-image: #{map.get($button-gradients, "footer-hover")};
                            transition: #{map.get($button-transitions, "footer-hover")};
                            transform: scale(0.9);
                            color: black;
                        }

                        &#iz-footer-company-button-tel {
                            margin-left: auto;
                        }
                        &#iz-footer-company-button-mail {
                            margin-right: auto;
                        }

                        svg {
                            display: flex;
                            margin: auto 0.5em auto auto;
                            width: $footer-button-row-icon-width;
                            max-width: $footer-button-row-icon-width;
                            min-width: $footer-button-row-icon-width;
                            height: auto;
                        }
                    }
                }
            }
            // External Links
            div#iz-footer-links-external {
                display: flex;
                margin: auto auto auto 2em;
                gap: 5px;

                a.iz-animation-pulse {
                    transition: all 0.2s ease;
                    transform: scale(1);
                    display: flex;
                    padding: 5px;
                    border-radius: 100%;

                    &:hover {
                        animation-duration: 0.5s;
                        animation-name: iz-animation-pulse;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                    }
                }
                a {
                    @each $name, $bg-color in $background-color-links {
                        &#iz-footer-link-#{$name} {
                            background-color: $bg-color;
                            svg {
                                display: flex;
                                margin: auto;
                                & > path {
                                    fill: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Parallax Classes
    .iz-parallax-image {
        background-attachment: fixed;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 50px;
        padding-top: 50px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
            font-size: 76px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
        }
    }

    .iz-parallax-content {
        background: none repeat scroll 0 0 black;
        color: #fff;

        &.iz-parallax-content-transparent {
            background: transparent;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }
    }

    .iz-parallax-content-after {
        height: 200px;
        min-height: 200px;
        background: black;
        color: transparent;
        -webkit-user-select: none;
        user-select: none;
    }

    .iz-parallax-video {
        height: 0px;
        padding: 0;
        margin: 0;
        display: none;
        transition: $default-transition-fast;

        &.iz-banner-video {
            height: 0px;
            padding: 0;
            margin: 0;
            display: unset;
            transition: $default-transition-fast;

            video {
                object-fit: cover;
                min-width: 100%;
                position: fixed;
                top: $nav-height;
                z-index: -999;
                transition: $default-transition-fast;
            }
        }

        &.iz-parallax-video-visible {
            display: unset;
            transition: $default-transition-fast;
        }

        &.iz-parallax-video-z-top {
            video {
                z-index: -899;
                transition: $default-transition-fast;
            }
        }

        video {
            object-fit: cover;
            min-width: 100%;
            position: fixed;
            top: $nav-height;
            z-index: -999;
            transition: $default-transition-fast;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
            font-size: 76px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }
    }

    // Animation Definition
    @keyframes iz-animation-pulse {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.2);
        }
    }

    @keyframes iz-animation-boing {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(-8px);
        }
    }
}
