@use "sass:map";
@use "sass:list";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Shippori+Antique+B1&display=swap");

$scroll-bar-width: 25px;
$nav-height: 77px;
$nav-border-width: 1px;
$nav-height-total: calc($nav-height + $nav-border-width);
$content-entry-max-width: 1200px;
$color-link-facebook: #3b5998;
$background-color-links: (
    "facebook": #3b5998,
    "instagram": #262626,
    "youtube": #cd201f,
);

$named-gradients: (
    "sand2blue": (
        #3e5151,
        -webkit-linear-gradient(to right, #decba4, #3e5151),
        linear-gradient(to right, #decba4, #3e5151),
    ),
    "black2transparent": (
        #3e5151,
        -webkit-linear-gradient(to right, #000000ff, #00000000),
        linear-gradient(to right, #000000ff, #00000000),
    ),
    "mirage": (
        #16222aff,
        -webkit-linear-gradient(to right, #3a6073ff, #16222aff),
        linear-gradient(to right, #3a6073ff, #16222aff),
    ),
    "mirage-transparent": (
        #16222a,
        -webkit-linear-gradient(to bottom, #3a6073ff, #16222aee),
        linear-gradient(to bottom, #3a6073ff, #16222aee),
    ),
    "coal": (
        #eb5757,
        -webkit-linear-gradient(to right, #000000, #eb5757),
        linear-gradient(to right, #000000, #eb5757),
    ),
);

$bg-gradients: (
    "footer": linear-gradient(130deg, #040404 0%, #1d1d1d 100%),
);

$button-gradients: (
    "footer": linear-gradient(130deg, #f4dc8c 0%, #cab272 100%),
    "footer-hover": linear-gradient(180deg, #cab272 0%, #f4dc8c 100%),
    "main-content": linear-gradient(290deg, #dfc393 0%, #f1dda0 100%),
    "main-content-hover": linear-gradient(90deg, #f1dda0 0%, #dfc393 100%),
);

$button-transitions: (
    "footer": all 0.2s ease,
    "footer-hover": all 0.2s ease,
    "main-content": all 0.3s ease,
    "main-content-hover": all 0.3s ease,
);

$fill-color-links: #fff;
$footer-button-row-icon-width: 15px;

$card-image-width: 66px;
$card-image-filter: blur(0.5px);
$card-image-filter: brightness(200%) contrast(134%) saturate(0%) blur(0px) hue-rotate(0deg);
$card-image-transition: all 0.5s ease;

$base-font-family: "Assistant", Sans-serif;

$background-color-navigation: #040404;

$default-transition-fast: all 0.5s ease;
$default-transition-medium: all 0.75s ease;
$default-transition-slow: all 1s ease;

$navigation-text: (
    "color": #7a7c7f,
    "hover": #f1dda0,
    "transition": $default-transition-fast,
);

$navigation-sublist: (
    "background-color": #fff,
    "color": #d2d2d2,
    "hover": #f1dda0,
    "transition": $default-transition-slow,
);
@mixin gradient-classes($gradient-names) {
    @each $gradient in $gradient-names {
        .iz-gradient-#{$gradient} {
            @each $background-value in map-get($named-gradients, $gradient) {
                background: $background-value;
            }
            transition: $default-transition-fast;
        }
    }
}

html {
    background-color: #040404;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    shape-rendering: crispedges;
    text-rendering: geometricPrecision;
    scroll-behavior: smooth;
}

// Body of HTML
body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: $base-font-family;
    font-weight: 500;
    font-size: 15px;

    * {
        box-sizing: content-box;
        scroll-behavior: smooth;
    }

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;

    // Main Wrapper
    #iz-wrapper {
        display: flex;
        width: inherit;
        overflow: auto;
        flex-direction: column;
        margin-top: $nav-height-total;
        margin-bottom: 0;
        overflow-x: hidden;
        transition: all 0.5s ease;

        &.bottom-reached {
            transition: all 0.5s ease;
            margin-bottom: 125px;
        }
        h1,
        h2 {

            &.iz-animation-active {
                font-weight: 500;
                shape-rendering: crispedges;
                text-rendering: geometricPrecision;
                -webkit-user-select: none;
                user-select: none;

                &:hover {
                    cursor: url("/img/svg/meteor-comet-svgrepo-com.svg");
                }
            }
        }
    }

    @include gradient-classes("mirage" "mirage-transparent" "black2transparent" "sand2blue" "coal");
}
// Banner
nav#iz-nav-list {
    display: flex;
    position: fixed;
    height: $nav-height;
    max-height: $nav-height;
    min-height: $nav-height;
    transition: $default-transition-slow;
    top: 0;
    width: inherit;
    background-color: $background-color-navigation;
    z-index: 999;
    border-bottom: $nav-border-width solid #e1e1e182;

    * {
        text-align: center;
    }

    // Header Logo
    #iz-nav-logo {
        display: flex;
        margin-left: auto;
        height: 60px;
        width: 60px;
    }

    &.iz-nav-fade-in {
        #iz-nav-ul {
            transform: translateY(0px);
            transition: $default-transition-slow;
            opacity: 1;
            visibility: visible;
        }
    }

    // Navigation Entries
    #iz-nav-ul {
        display: flex;
        transform: translateY(50px);
        transition: $default-transition-slow;
        opacity: 0;
        visibility: hidden;


        // Navigation Entry
        .nav-entry {
            display: flex;
            opacity: 1;
            list-style: none;
            margin-top: auto;
            margin-bottom: auto;
            max-width: min-content;
            font-size: 16px;
            font-weight: 400;
            white-space: nowrap;
            transition: map-get($navigation-text, "transition");

            &:last-child {
                a {
                    background-color: #818a91;
                    color: #d2d2d2;
                    border-radius: 3px;
                }

                &:hover {
                    a {
                        text-decoration: none;
                    }
                }
            }

            &.iz-nav-item-selected {
                a {
                    color: white;
                    text-shadow: -1px 2px 5px map-get($navigation-text, "hover");
                }
            }

            &.nav-entry-sublist {

                > a::after {
                    display: inline-block;
                    transform: rotate(90deg);
                    padding-left: 8px;
                    content: ">";
                    font-weight: 500;
                    line-height: 0px;
                    font-size: medium;
                    width: 15px;
                    transition: map-get($navigation-text, "transition");
                }
                &:hover {
                    > a::after {
                        transform: rotate(0deg);
                        font-weight: 900;
                        font-size: large;
                        transition: map-get($navigation-text, "transition");
                    }
                }
            }

            > a {
                color: map-get($navigation-text, "color");
                transition: map-get($navigation-text, "transition");
                padding: 8px 12px;
                font-size: 10px;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;
            }

            &:hover > a {
                transition: map-get($navigation-text, "transition");
                color: map-get($navigation-text, "hover");
                text-decoration: underline;
            }

            &:hover {
                // Navigation Sublist
                ul.iz-subnav-ul {
                    transition: map-get($navigation-sublist, "transition");
                    display: flex;
                }
            }

            // Navigation Sublist
            ul.iz-subnav-ul {
                padding: 0;
                margin: 0;
                background-color: map-get($navigation-sublist, "background-color");
                transition: map-get($navigation-sublist, "transition");
                color: map-get($navigation-sublist, "color");

                box-shadow: unset;

                opacity: 0;
                display: none;
                flex-direction: column;
                top: 60px;
                position: absolute;
                visibility: hidden;

                // Navigation Sublist Entry
                li.nav-sub-entry {
                    display: flex;
                    transition: map-get($navigation-sublist, "transition");
                    opacity: 1;
                    list-style: none;
                    height: 45px;
                    box-sizing: content-box;
                    border: none;
                    min-width: 400px;
                    font-size: 10px;
                    font-weight: 700;
                    border-left: none;
                    border-top: none;
                    border-right: none;
                    border-bottom: 1px solid transparent;
                    align-items: center;

                    &:not(:last-child) {
                        border-bottom: 1px solid black;
                        border-left: none;
                        border-top: none;
                        border-right: none;
                    }

                    a {
                        color: map-get($navigation-sublist, "color");
                        transition: map-get($navigation-sublist, "transition");
                        text-decoration: none;
                        margin: 0;
                        border: none;
                        text-transform: uppercase;
                        text-shadow: none;
                        width: 100%;
                        line-height: 0px;
                        font-size: 10px;
                        text-align: left;
                        display: flex;
                        height: 45px;
                        padding-left: 32px;
                        align-items: center;
                        justify-content: left;

                        &:hover {
                            transition: map-get($navigation-sublist, "transition");
                            color: map-get($navigation-sublist, "hover");
                            font-size: 15px;
                        }
                    }

                    &:hover {
                        transition: map-get($navigation-sublist, "transition");
                        font-size: 15px;

                        a {
                            transition: map-get($navigation-sublist, "transition");
                            text-shadow: 2px 2px 4px black;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        // Hover of entry with sublist
        .nav-entry-sublist {
            * {
                text-align: left;
            }

            &:hover {
                ul.iz-subnav-ul {
                    transition: map-get($navigation-sublist, "transition");
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    // Search Field
    form.iz-search-form {
        display: flex;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 25px;
        width: 125px;

        input#search-value {
            outline: none;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            display: flex;
            background-color: transparent;
            width: 100px;
            height: 30px;
            border-radius: 10px;
            border: none;
            text-align: left;
            padding-left: 8px;
            transition: $default-transition-fast;

            + svg {
                transition: $default-transition-fast;
                display: flex;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: -25px;
                color: white;
            }

            &:focus {
                background-color: white;
                transition: $default-transition-fast;
                border-radius: 5px;
                border: 1px solid $background-color-navigation;

                + svg {
                    transition: $default-transition-fast;
                    color: black;
                }
            }
        }
    }
}
// Site Main Content Section
main#iz-content {
    display: flex;
    flex-direction: column;
    background: transparent;

    header.iz-content-banner {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - $nav-height-total);

        .iz-button-abs {
            position: relative;
            bottom: 150px;
            width: 1em;
            height: 0px;
            overflow: visible;
            font-size: 30px;
            color: #FFFFFF8F;
            left: 50%;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            shape-rendering: geometricprecision;
            animation-duration: 0.5s;
            animation-name: iz-animation-pulsation;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            transition: all 0.2s ease;

            svg {
                text-rendering: optimizeLegibility;
                shape-rendering: geometricprecision;
            }
        }

        section.iz-banner-wrapper {
            display: grid;
            grid-template-columns: 1fr 500px;
            grid-template-rows: 55px 45px;
            margin: auto 0 0 0;
            padding: 0;
            max-width: 100%;
            min-width: 100%;
            width: 100%;
            height: 100px;
            box-sizing: border-box;
            border-radius: 0;
            box-shadow: 0px 0px 26px 16px rgba(0, 0, 0, 0.5);
            background-color: #000000C2;
            border-style: solid;
            border-width: 1px 0px 0px 0px;
            border-color: #FFFFFF7D;
            user-select: none;


            img.iz-banner-image {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: span 2;
                margin: 0;
                width: auto;
                max-width: auto;
                height: 50px;
                border-radius: 0;
                padding: 0;
                justify-self: flex-end;
                align-self: center;
            }

            .iz-banner-content {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;
                transition: all 0.2s ease-out;
                justify-self: left;
                padding: 0 0 0 20px;
                margin: 0;
                color: #FFFFFF;
                font-family: "Assistant", Sans-serif;
                font-size: 11px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0px;
                max-height: 45px;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                &.iz-banner-headline {
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 1;
                    margin: 0;
                    color: #f4dc8c;
                    font-family: "Assistant", Sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 0px;
                    -webkit-text-stroke-width: 0.2px;
                    stroke-width: 0.2px;
                    -webkit-text-stroke-color: #f4dc8c;
                    stroke: #f4dc8c;
                    text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.3);
                    font-size: 18px;
                    font-weight: 700;
                    max-height: 55px;
                    align-self: flex-end;
                    transition: all .2s ease-out;
                    justify-self: left;
                    padding: 0 0 0 20px;
                    background: linear-gradient(90deg, #EFD592, #E5C47F, #C38D50);
                    //color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    background-color: #f3ec78 !important;
                    background-image: linear-gradient(45deg, #F3DFA7, #E5C47F);
                    background-size: 150% !important;
                }
            }
        }
    }


    section.iz-content-entry {
        display: flex;
        flex-direction: column;
        $entry-height: calc(100vh - 77px + 200px);
        height: $entry-height;
        min-height: $entry-height;
        min-width: 100%;
        box-shadow: 0px 0px 10px 9px #00000088;
        transition: $default-transition-fast;

        &#idee-zu-erfolg {
            background-repeat: no-repeat;
            background: url(/img/jpg/impactzone-Animations-und-Praesentationsdesign-scaled.jpg) white;
            background-size: cover;

            h1 {
                background-color: #f3ec78;
                background: linear-gradient(90deg, #EFD592, #E5C47F, #C38D50);
                background-image: linear-gradient(90deg, rgb(239, 213, 146), rgb(229, 196, 127), rgb(195, 141, 80));
                color: transparent;
                background-size: 150%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                filter: drop-shadow(1px 0.5px 1.5px #00000099) saturate(1.25) brightness(1.1);
            }

            .video-tesseract {
                margin-top: 150px;
            }
        }

        &#pfs-unsere-agenturleistungen {
            video#pfs-unsere-agenturleistungen-background {
                //background: url("/media/02_Planetpagebackground_v01_1.mp4");
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .iz-content-entry-wrapper {
                padding: 2.5em;
                border-radius: 12px;
                background-color: transparent;
                background-image: linear-gradient(180deg, #0000009C 0%, #0000008F 100%);
                margin: auto;
                min-width: unset !important;
            }


        }

        .iz-content-entry-wrapper {
            display: flex;
            flex-direction: inherit;
            height: auto;
            box-sizing: border-box;
            margin: auto;
            min-height: max-content;
            min-width: 100%;
            transition: $default-transition-fast;
            padding: 3em 0;
            gap: 2.5em;

            &>* {
                margin-bottom: 2.5em;
            }

            .iz-text-simple-content {
                text-align: left;
                font-family: "Assistant", Sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.2em;
                color: #7a7c7f;
                max-width: 250px;
            }

            &>* {
                max-width: $content-entry-max-width;
                margin: auto;
                scroll-behavior: smooth;
            }

            h1,
            h2,
            h3 {
                color: #f4dc8c;
                font-family: "Shippori Antique B1", Sans-serif;
                font-size: 20px;
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 0px;
                text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.3);
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                background-color: transparent;
            }

            &.iz-animation-active {
                .iz-content-headline {

                    /*padding: 12px 35px;
                    border-radius: 12px;
                    background-color: #00000077;
                    box-shadow: 3px 1px 6px #e4e4e4aa;*/

                    >span.iz-text {
                        text-transform: uppercase;
                        text-rendering: geometricPrecision;
                        letter-spacing: 0.25em;
                        font-size: 2em;
                        line-height: 2;
                        font-weight: 500;
                        white-space: nowrap;

                    }
                }
            }

            &>*:first-child {
                display: flex;
                margin: auto auto 0 auto;
            }

            &>*:last-child {
                display: flex;
                margin: 0 auto auto auto;
            }

            button.iz-button-href {
                text-decoration: none;
                border-radius: 50px;
                background: transparent;
                background-image: #{map.get($button-gradients, "main-content")};
                transition: #{map.get($button-transitions, "main-content")};
                color: white;
                border: none;
                padding: 10px 2em;
                font-weight: 700;
                display: flex;
                margin: auto;
                font-family: "Shippori Antique B1", Sans-serif;

                &:hover {
                    background-image: #{map.get($button-gradients, "main-content-hover")};
                    transition: #{map.get($button-transitions, "main-content-hover")};
                    color: black;
                }

                &::before {
                    margin-right: 1em;
                    content: ">";
                }
            }

            .iz-card-list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 50px;

                .iz-card {
                    display: flex;
                    flex-direction: column;

                    figure {
                        display: flex;

                        img.iz-card-image {
                            display: flex;
                            min-width: $card-image-width;
                            max-width: $card-image-width;
                            width: $card-image-width;
                            filter: $card-image-filter;
                            transition: $card-image-transition;
                            transform: translateY(0px);
                            margin: 0 auto 0 45px;


                            &:hover {
                                /*animation-duration: 0.5s;
                                animation-name: iz-animation-boing;
                                animation-iteration-count: infinite;
                                animation-direction: alternate;*/
                            }
                        }
                    }

                    .iz-card-text {
                        display: flex;
                        flex-direction: column;

                        * {
                            display: flex;
                        }
                    }
                }
            }

            .iz-square-list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 50px;

                .iz-square {
                    display: flex;
                    flex-direction: column;

                    .iz-square-top {
                        figure {
                            display: flex;
                            margin: 0 auto;

                            img.iz-square-image {
                                display: flex;
                                min-width: $card-image-width;
                                max-width: $card-image-width;
                                width: $card-image-width;
                                filter: $card-image-filter;
                                transition: $card-image-transition;
                                transform: translateY(0px);

                                &:hover {
                                    animation-duration: 0.5s;
                                    animation-name: iz-animation-boing;
                                    animation-iteration-count: infinite;
                                    animation-direction: alternate;
                                }
                            }
                        }

                        .iz-square-text {
                            display: flex;
                            flex-direction: column;

                            * {
                                display: flex;
                            }

                            .iz-square-headline {}

                            .iz-square-content {}
                        }
                    }

                    .iz-square-bottom {
                        .iz-square-button {
                            svg {}
                        }
                    }
                }
            }
        }
    }
}
// Footer Section
footer#iz-footer {
    display: flex;
    background-color: transparent;
    background-image: linear-gradient(130deg, #040404 0%, #1d1d1d 100%);
    padding: 0;
        bottom: 0;
        position: fixed;
        width: 100vw;
        box-shadow: 0px -2px 0.5px #000000aa;
        max-height: 0;
        transition: all 0.5s ease;

        &.bottom-reached {
            max-height: 125px;
            transition: all 0.5s ease;
        }
    // Logo of the footer
    img#iz-footer-logo {
        display: flex;
        margin: auto 2em auto auto;
        width: 75px;
        height: auto;
    }
    // Company Information
    #iz-footer-company {
        display: flex;
        flex-direction: column;
        margin: auto 1em;
        padding: 10px;
        min-width: 333px;
        max-height: 125px;

        #iz-footer-company-headline {
            display: flex;
            width: inherit;
            margin: 0 auto;
            padding: 0;
            height: 38px;
            max-height: 38px;
            min-height: 38px;
            color: #ffffff;
            font-size: 10px;
            font-weight: 700;
            font-family: "Assistant", Sans-serif;
            line-height: 14px;
        }
        #iz-footer-company-content {
            display: flex;
            width: inherit;
            color: rgb(128, 128, 128);
            outline: rgb(128, 128, 128);
            font-size: 10px;
            font-family: "Assistant", Sans-serif;
            margin: 0 auto;
            padding: 0;
            height: 41px;
            max-height: 41px;
            min-height: 41px;
        }
        #iz-footer-company-button-row {
            display: flex;
            gap: 0.5em;
            margin: 0;
            padding: 0;
            align-content: center;
            align-items: center;
            align-self: center;

            justify-content: center;
            justify-items: center;
            justify-self: center;

            text-align: center;
            vertical-align: middle;
            height: 26px;
                max-height: 26px;
                min-height: 26px;
            a {
                text-decoration: none;
                display: flex;
                border-radius: 50px;
                font-size: 12px;
                line-height: 15px;
                padding: 0;
                background-color: transparent;
                background-image: #{map.get($button-gradients, "footer")};
                transition: #{map.get($button-transitions, "footer")};
                transform: scale(1);
                color: white;

                align-content: center;
                align-items: center;
                align-self: center;

                justify-content: center;
                justify-items: center;
                justify-self: center;

                text-align: center;
                vertical-align: middle;

                &:hover {
                    background-image: #{map.get($button-gradients, "footer-hover")};
                    transition: #{map.get($button-transitions, "footer-hover")};
                    transform: scale(0.9);
                    color: black;
                }

                &#iz-footer-company-button-tel {
                    margin-left: auto;
                }
                &#iz-footer-company-button-mail {
                    margin-right: auto;
                }

                svg {
                    display: flex;
                    margin: auto 0.5em auto auto;
                    width: $footer-button-row-icon-width;
                    max-width: $footer-button-row-icon-width;
                    min-width: $footer-button-row-icon-width;
                    height: auto;
                }
            }
        }
    }
    // External Links
    div#iz-footer-links-external {
        display: flex;
        margin: auto auto auto 2em;
        gap: 5px;

        a.iz-animation-pulse {
            transition: all 0.2s ease;
            transform: scale(1);
            display: flex;
            padding: 5px;
            border-radius: 100%;

            &:hover {
                animation-duration: 0.5s;
                animation-name: iz-animation-pulse;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
        a {
            @each $name, $bg-color in $background-color-links {
                &#iz-footer-link-#{$name} {
                    background-color: $bg-color;
                    svg {
                        display: flex;
                        margin: auto;
                        & > path {
                            fill: white;
                        }
                    }
                }
            }
        }
    }
}
div.iz-text-multi {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;

    p.iz-text-simple-content {
        margin-bottom: 15px;
    }
}

div.iz-text-entry {
    display: flex;
    flex-direction: column;
}

.cascade-horizontal {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.video-tesseract {
    flex-direction: column;
    max-width: 33vw;
    transition: all 0.2s ease;
    max-height: 500px;
    height: 1000px;
    user-select: none;

    &:hover {

        video {
            transition: all 0.2s ease;
            z-index: 50;
        }
    }

    :first-child {
        transition: all 0.2s ease;
        margin-top: -25%;
        z-index: 75;
        margin: 0 auto 0 -15%;
    }

    :last-child {
        transition: all 0.2s ease;
        z-index: 125;
        margin-top: -15%;
        margin-left: 15%;
    }

    video {
        max-width: 500px;
        max-height: 500px;
        width: 500px;
        object-fit: cover;
        border-radius: 12px;
        transform: scale(1);
        z-index: 55;
        transition: all 0.2s ease;
        display: flex;
        box-shadow: 0px 0px 10px 6px #000000AA;

        &:hover {
            z-index: 150;
            transform: scale(2);
            transition: all 0.66s ease;
            box-shadow: 3px -3px 9px 9px #000000e8;
        }
    }

    #iz-intro-video-premium-title {}

    #iz-intro-video-animation-und-3d {}
}

.iz-card-list {}

.iz-card {
    padding: 2em 1.5em;
    gap: 1em;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0000009C 0%, #0000008F 100%);
    border-radius: 12px;

    figure {
        margin: 0;
        transition: all 1s ease;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        box-shadow: 0px 0px 0px 0px #f1dda000;
        border-radius: 50px;

        img.iz-card-image {
                padding-left: 33px;
                padding-top: 8px;
            }
    }


    &:hover {
        transition: all 1s ease;

        figure {
            animation: iz-animation-card-side-pumper 1s steps(20) infinite alternate-reverse;

            img.iz-card-image {
                animation:
                    iz-animation-card-icon-walk 1s steps(50) infinite alternate,
                    iz-animation-card-icon-bounce 0.3s steps(20) infinite alternate;
            }
        }

    }

    .iz-card-text {

        &>* {
            margin: 0;
            padding: 0;
        }

        .iz-card-headline {
            margin-bottom: 9px;
            color: #f1dda0;
            font-family: "Shippori Antique B1", Sans-serif;
            font-size: 12px;
            font-weight: 700;
            line-height: 22px;
        }

        .iz-card-content {
            font-family: sans-serif;
            font-weight: 300;
            font-size: 12px;
            font-variant: unicase;
        }
    }
}
// Parallax Classes
.iz-parallax-image {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        font-size: 76px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
}

.iz-parallax-content {
    background: none repeat scroll 0 0 black;
    color: #fff;

    &.iz-parallax-content-transparent {
        background: transparent;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }
}

.iz-parallax-content-after {
    height: 200px;
    min-height: 200px;
    background: black;
    color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

.iz-parallax-video {
    height: 0px;
    padding: 0;
    margin: 0;
    display: none;
    opacity: 0;
    transition: $default-transition-fast;

    &.iz-banner-video {
        height: 0px;
        padding: 0;
        margin: 0;
        display: unset;
        opacity: 1;
        transition: $default-transition-fast;

        video {
            object-fit: cover;
            min-width: 100%;
            width: 100vw;
            min-height: 100%;
            position: fixed;
            top: 25%;
            left: 50%;
            margin-top: calc($nav-height-total - 50vh);
            margin-left: -50vw;
            z-index: -999;
            transition: $default-transition-fast;
        }

        &.iz-parallax-video-invisible {
            display: none;
            opacity: 0;
            transition: $default-transition-fast;

            video {
                transition: $default-transition-fast;
                display: none;
                opacity: 0;
            }
        }
    }

    &.iz-parallax-video-visible {
        display: unset;
        opacity: 1;
        transition: $default-transition-fast;

        video {
            transition: $default-transition-fast;
            display: unset;
            opacity: 1;
        }
    }

    &.iz-parallax-video-invisible {
        display: none;
        transition: $default-transition-fast;
        opacity: 0;

        video {
            transition: $default-transition-fast;
            display: none;
            opacity: 0;
        }
    }

    &.iz-parallax-video-z-top {
        video {
            z-index: -899;
            transition: $default-transition-fast;
        }
    }

    video {
        object-fit: cover;
        min-width: 100%;
        width: 100vw;
        min-height: 100%;
        position: fixed;
        z-index: -999;
        transition: $default-transition-fast;
        top: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
        font-size: 76px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
}
// Animation Definition
@keyframes iz-animation-pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes iz-animation-pulsation {
    from {
        transform: scale(1);
        color: #FFFFFF8F;
    }

    to {
        transform: scale(1.15);
        color: #d4cf889c;
    }
}

@keyframes iz-animation-card-icon-walk {
    from {
        margin: 0 auto 0 45px;
    }
    to {
        margin: 0 auto 0 -24px;
    }
}

@keyframes iz-animation-card-icon-bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-8px);
    }
}

@keyframes iz-animation-card-icon-walk-pumper {
    0% {
        margin: 0 auto 0 calc(50% - 33px);
        transform: translateY(0px);
        box-shadow: -18px 0px 10px -10px #f1dda000;
    }

    10% {
        margin: 0 auto 0 calc(45% - 33px);
        transform: translateY(-4px);
        box-shadow: -18px 0px 10px -10px #f1dda000;
    }

    20% {
        margin: 0 auto 0 calc(40% - 33px);
        transform: translateY(-8px);
        box-shadow: -18px 0px 10px -10px #f1dda000;
    }

    30% {
        margin: 0 auto 0 calc(35% - 33px);
        transform: translateY(-4px);
        box-shadow: -18px 0px 10px -10px #f1dda000;
    }

    40% {
        margin: 0 auto 0 calc(30% - 30px);
        transform: translateY(0px);
        box-shadow: -18px 0px 10px -10px #f1dda000;
    }

    50% {
        margin: 0 auto 0 calc(25% - 25px);
        transform: translateY(-4px);
        box-shadow: -18px 0px 10px -10px #f1dda000;
    }

    60% {
        margin: 0 auto 0 calc(20% - 20px);
        transform: translateY(-8px);
        box-shadow: -18px 0px 10px -10px #f1dda000;
    }

    70% {
        margin: 0 auto 0 calc(15% - 15px);
        transform: translateY(-4px);
        box-shadow: -18px -1px 10px -11px #f5c63944;
        filter: saturate(1.05) brightness(1.03);
    }

    80% {
        margin: 0 auto 0 calc(10% - 10px);
        transform: translateY(0px);
        box-shadow: -18px -2px 10px -12px #f5c63988;
        filter: saturate(1.1) brightness(1.06);
    }

    90% {
        margin: 0 auto 0 calc(5% - 5px);
        transform: translateY(-4px);
        box-shadow: -18px -3px 10px -13px #f5c639AA;
        filter: saturate(1.15) brightness(1.09);
    }

    100% {
        margin: 0 auto 0 2.5em;
        transform: translateY(-8px);
        box-shadow: -18px 0px 10px 10px #f5c639;
        filter: saturate(1.25) brightness(1.1);
    }
}

@keyframes iz-animation-card-side-pumper {
    0% {
        box-shadow: -18px 0px 10px -10px #f5c639FF;
    }

    10% {
        box-shadow: -13.5px 0px 7.5px -7.5px #f5c639AA;
    }

    20% {
        box-shadow: -9px 0px 5px -5px #f5c63988;
    }

    30% {
        box-shadow: -4.5px 0px 2.5px -2.5px #f5c63944;
    }

    40% {
        box-shadow: 0px 0px 0px 0px #f1dda000;
    }

    50% {
        box-shadow: 0px 0px 0px 0px #f1dda000;
    }

    60% {
        box-shadow: 0px 0px 0px 0px #f1dda000;
    }

    70% {
        box-shadow: 0px 0px 0px 0px #f1dda000;
    }

    80% {
        box-shadow: 0px 0px 0px 0px #f1dda000;
    }

    90% {
        box-shadow: 0px 0px 0px 0px #f1dda000;
    }

    100% {
        box-shadow: 0px 0px 0px 0px #f1dda000;
    }
}

@keyframes iz-animation-stutter-transparency {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

// Animation Definition
@keyframes iz-animation-wavering-shadow {
    0% {
        filter: drop-shadow(-5px -4px 6px gold);
        background: darkslategrey;
        opacity: 1;
        transform: scale(1);
    }

    20% {
        filter: drop-shadow(-1px -9px 12px rgb(255, 180, 18));
        background: #278181;
        opacity: 0.9;
        transform: scale(1.1);
    }

    40% {
        filter: drop-shadow(2px -6px 9px rgb(231, 72, 9));
        background: #0c3f3f;
        opacity: 0.85;
        transform: scale(0.95);
    }

    60% {
        filter: drop-shadow(4px -2px 4px rgb(238, 100, 21));
        background: #117c61;
        opacity: 0.95;
        transform: scale(1.05);
    }

    80% {
        filter: drop-shadow(0px -5px 5px rgb(255, 0, 13));
        background: #104a64;
        opacity: 0.75;
        transform: scale(0.9);
    }

    100% {
        filter: drop-shadow(-5px -4px 6px gold);
        background: darkslategrey;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes iz-animation-boing {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-8px);
    }
}

/*
* Animation module with all animation code
*/
.iz-animation-text-flow,
.iz-animation-text-flow:hover {
    /*
    * Animation variables
    */
    $animationSteps: 20;
    $animationDuration: 50;
    $animationElement: span;
    $animationElementsCount: 100;
    $delayBetweenLetters: 0.2;

    /*
    * Elements settings
    */
    #{$animationElement} {
        animation-name: iz-animation-text-flow-keys;
        animation-duration: #{$animationDuration}s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        transition: all 0.2s ease;
        text-shadow: 2px 2px 0.5px white !important;
        -webkit-text-stroke: 1.25px black;
        text-stroke: 1.25px black;
        font-weight: 550 !important;

        &:hover {
            text-shadow: 3px 3px 1px gold !important;
            transition: all 0.2s ease;
            -webkit-text-stroke: 1px white;
            text-stroke: 1px white;
        }

        span {}
    }

    /*
    * Keyframe loop
    */
    @keyframes iz-animation-text-flow-keys {
        @for $i from 0 through $animationSteps {
            #{percentage($i * calc(1 / $animationSteps))} {
                color: hsla(random(365), 60%, 60%, 1);
                transition: $default-transition-fast;
                //text-shadow: 1px 1px 3px hsla(random(365), 60%, 60%, 1);
            }
        }
    }

    /*
    * Element animation delay loop
    */
    $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

    @for $i from 1 through $animationElementsCount {
        #{$animationElement}:nth-of-type(#{$i}) {
            animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
        }
    }
}

/*
* Animation module with all animation code
*/
img.iz-animation-img-flow,
img.iz-animation-img-flow:hover {
    /*
    * Animation variables
    */
    $animationStepsImage: 36;
    $animationDurationImage: 50;
    $animationElementsCountImage: 1;

    /*
    * Elements settings
    */
    animation-name: iz-animation-img-flow-keys;
    animation-duration: #{$animationDurationImage}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;

    /*
    * Keyframe loop
    */
    $sum-hsla: 0;

    @keyframes iz-animation-img-flow-keys {
        @for $i from 0 through $animationStepsImage {
            #{percentage($i * calc(1 / $animationStepsImage))} {
                fill: hsla($sum-hsla, 60%, 60%, 1);
                fill: -webkit-linear-gradient(to right,
                        hsla($sum-hsla, 60%, 60%, 1),
                        hsla($sum-hsla + 10, 60%, 60%, 1));
                fill: linear-gradient(to right, hsla($sum-hsla, 60%, 60%, 1), hsla($sum-hsla + 10, 60%, 60%, 1));
            }

            $sum-hsla: $sum-hsla + 10;
        }
    }

    /*
    * Element animation delay loop
    */
    $totalDelayTimeImage: $animationElementsCountImage;

    animation-delay: #{$totalDelayTimeImage}s;
}
