extends ../layout.pug

block content
    if isMongo
        - var navEntrySelected = site.name
        - var banner = sitesContent.banner
        - var mainSectionEntries = site.sections
        - var izIndex = 0
        - var isParallax = site.parallax
    else
        - const mainContent = site
        - var navEntrySelected = mainContent.name
        - var banner = mainContent.banner
        - var mainSectionEntries = mainContent.sections
        - var izIndex = 0
        - var isParallax = mainContent.parallax
    if banner
        header.iz-content-banner
            include ../components/banner.pug

    each mainSection in mainSectionEntries
        - var izIndexCurrent = izIndex++
        - var izContentId = mainSection.id ? mainSection.id : "iz-content-entry-" + izIndexCurrent
        - var izContentClass = mainSection.class ? " " + mainSection.class : " "
        include ../generators/mainSectionGenerator.pug