extends ../layout.pug

block content
    if isMongo
        - var navEntrySelected = sitesContent[2].name
        - var banner = sitesContent.banner
        - var mainSectionEntries = sitesContent[2].sections
        - var izIndex = 0
        - var isParallax = sitesContent[2].parallax
    else
        - const referenzen = site
        - var navEntrySelected = referenzen.name
        - var banner = referenzen.banner
        - var mainSectionEntries = referenzen.sections
        - var izIndex = 0
        - var isParallax = referenzen.parallax
    if banner
        header.iz-content-banner
            include ../components/banner.pug

    each mainSection in mainSectionEntries
        - var izIndexCurrent = izIndex++
        - var izContentId = mainSection.id ? mainSection.id : "iz-content-entry-" + izIndexCurrent
        - var izContentClass = mainSection.class ? " " + mainSection.class : " "
        include ../generators/mainSectionGenerator.pug