- var headliner = mainSection.headliner
if izType == "list-of-cards"
    - var listEntries = mainSection.cards
    section.iz-card-list
        each card in listEntries
            include ../components/card.pug
else if izType == "list-of-squares"
    - var listEntries = mainSection.squares
    each square in listEntries
        include ../components/square.pug
else if izType ==  "list-of-refs"
    - var listEntries = mainSection.references
    each reference in listEntries
        include ../components/reference.pug
else
    p No content found...