//- impactzone component type iterator
if izType.startsWith("list-of")
    include contentListGenerator.pug
else if izType.startsWith("headline")
    - var headliner = izType
    - var headline = mainSection.headline
    include ../components/headline.pug
else if izType.startsWith("header")
    - var headliner = izType
    - var headline = mainSection.headline
    - var content = mainSection.content
    include ../components/text-entry.pug
else if izType.startsWith("button")
    - var button = mainSection.button
    if button.izType == "button-href"
        include ../components/button-href.pug
else if izType.startsWith("text")
    if izType.endsWith("multi")
        - var text = mainSection.text
        include ../components/text-multi.pug
    else if izType.endsWith("entry")
        - var headliner = mainSection.headliner ? mainSection.headliner : "3"
        - var headline = mainSection.headline
        - var content = mainSection.content
        include ../components/text-entry.pug
    else if izType.endsWith("simple")
        - var content = mainSection.content
        include ../components/text-simple.pug
else if izType.startsWith("cascade")
    - var headliner = mainSection.headliner
    - var cascades = mainSection.cascades
    include ../components/cascade.pug
else if izType.startsWith("video")
    - var video = mainSection.video
    include ../components/video.pug
